:root {
  
  --main-color:#2b384e;
  --main-color:#07C286;
  --chat-color:#0ceca5c4;
}
body{
  background-color: #EEEEEF;
  background: radial-gradient(circle, transparent 20%, #EEEEEF 20%, #EEEEEF 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, #EEEEEF 20%, #EEEEEF 80%, transparent 80%, transparent) 55px 55px, linear-gradient(var(--main-color) 4.4px, transparent 4.4px) 0 -2.2px, linear-gradient(90deg, var(--main-color) 4.4px, #EEEEEF 4.4px) -2.2px 0;
  background-size: 110px 110px, 110px 110px, 55px 55px, 55px 55px;
}
#app {
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  margin-top: 5px;
}
/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: grey; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--main-color); 
}


.nav-link{
  font-family: 'Raleway', sans-serif;
  color:black
}

.nav-link:hover{
  color: var(--main-color);
}

.btn{
  background-color:var(--main-color);
  border-color:var(--main-color);
}

.nav{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 35px;
  padding: auto;
  background: whitesmoke;
  margin: auto;
  margin-bottom: 20px;
  text-align: center;
  width: 110px;

}

.clock{
    width: 12%;
    text-align: left;
    font-weight: bold;
    float: left;
    margin: -5px 0 0 25px;
    font-size: 17px;
}

.notIcons{
  margin: 10px 15px 0px 0px;
  display: flex; 
  justify-content: flex-end; 
  gap: 10px; 
  align-items: center;
}

.notIcons img{
    width: 60px;
}

.shake {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

/*  ESTILOS COMPARTIDOS ESTRE VARIOS COMPONENTES PERO NO TODOS*/
/*
.topbar{
  background: rgb(228, 228, 228);
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.05);
  transition: 0.3s;
  border: 1px solid rgb(185, 185, 185);
}
*/
.topbar{
  background: var(--main-color);
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
  transition: 0.3s;
  border-radius: 0px 0px 30px 30px;
  border: 1px solid var(--main-color);
  color: white;
}

.topbarchat{
  background: var(--chat-color);
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
  transition: 0.3s;
  border-radius: 30px;
  border: 1px solid var(--chat-color);
  color: white;
}

.bottombar{
  background: var(--main-color);
  transition: 0.3s;
  border-radius: 40px;
  border: 1px solid var(--main-color);
  height: 55px;
  width: 55px;
  box-shadow: 0px 3px 9px 3px rgba(0,0,0,0.2);
  margin: 0px 0px 30px 300px;
  padding-top: 6px;
  display: flex; 
  align-items: center;
  justify-content: center;
  position: sticky;
}
.fasMenu{
  color: white;
}
.fasArrow{
  color: white;
  margin-top: 14px;
}
.titlechats{
  color: White;
  font-weight: bolder;
  font-size: 45px;
}